version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      timezone: "PST8PDT"
      time: "03:00"
    target-branch: "develop"
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      timezone: "PST8PDT"
      time: "03:00"
    target-branch: "develop"
