---
site_name: Scrapli
site_description: Fast, flexible, sync/async, Python 3.7+ screen scraping client specifically for network devices
site_author: Carl Montanari
site_url: https://carlmontanari.github.io/

repo_name: carlmontanari/scrapli
repo_url: https://github.com/carlmontanari/scrapli
edit_uri: ''

theme:
    name: material
    palette:
      primary: 'black'
      accent: 'teal'
    icon:
      repo: fontawesome/brands/github-alt

nav:
  - Scrapli: index.md
  - User Guide:
    - Quick Start Guide: user_guide/quickstart.md
    - Project Details: user_guide/project_details.md
    - Versioning: user_guide/versioning.md
    - Installation: user_guide/installation.md
    - Basic Usage: user_guide/basic_usage.md
    - Advanced Usage: user_guide/advanced_usage.md
    - Linting and Testing: user_guide/linting_testing.md
    - FAQ: user_guide/faq.md
  - API Reference: reference/
  - Changelog: changelog.md
  - More Scrapli:
    - Scrapli Netconf: more_scrapli/scrapli_netconf.md
    - Scrapli Community: more_scrapli/scrapli_community.md
    - Scrapli Cfg: more_scrapli/scrapli_cfg.md
    - Scrapli Replay: more_scrapli/scrapli_replay.md
    - Nornir Scrapli: more_scrapli/nornir_scrapli.md
  - Other:
    - Contributing: about/contributing.md
    - Code of Conduct: about/code_of_conduct.md
    - Thank Yous: about/thank_you.md

markdown_extensions:
    - toc:
        permalink: True
    - admonition
    - codehilite
    - extra
    - mdx_gh_links:
        user: mkdocs
        repo: mkdocs
    - pymdownx.superfences
    - pymdownx.highlight:
        use_pygments: True
        linenums: True

extra:
    social:
        - icon: fontawesome/brands/github-alt
          link: 'https://github.com/carlmontanari/'
        - icon: fontawesome/brands/twitter
          link: 'https://twitter.com/carlrmontanari'
        - icon: fontawesome/brands/linkedin
          link: 'https://www.linkedin.com/in/carl-montanari-47888931/'
        - icon: fontawesome/solid/globe
          link: 'https://montanari.io'

plugins:
    - search
    - gen-files:
        scripts:
        - docs/generate.py
    - mkdocstrings:
        handlers:
          python:
            paths: [ scrapli ]
            options:
              show_signature_annotations: true
        watch:
        - scrapli
    - section-index
    - literate-nav:
        nav_file: SUMMARY.md