nox==2020.12.31
black==20.8b1
isort==5.7.0
mypy==0.800
pytest==6.2.2
pytest-cov==2.11.1
pytest-asyncio==0.14.0
pyfakefs==4.3.3
pylama==7.7.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pylint==2.6.0
darglint==1.6.0
napalm==3.2.0
scrapli-replay==2021.2.6a1
-r requirements.txt
-r requirements-community.txt
-r requirements-textfsm.txt
-r requirements-genie.txt
-r requirements-ttp.txt
-r requirements-paramiko.txt
-r requirements-ssh2.txt
-r requirements-asyncssh.txt
