name: Commit

on: [push, pull_request, workflow_dispatch]

jobs:
  darglint:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest]
        version: [3.9]
    steps:
      - uses: actions/checkout@v2
      - name: set up python ${{ matrix.version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.version }}
      - name: setup test env
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools
          python -m pip install nox
      - name: run nox darglint
        run: python -m nox -s darglint

  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest]
        version: [3.9]
    steps:
      - uses: actions/checkout@v2
      - name: set up python ${{ matrix.version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.version }}
      - name: setup test env
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools
          python -m pip install nox
      - name: run nox
        env:
          TERM: xterm
        run: python -m nox -s unit_tests
      - name: Upload coverage
        uses: codecov/codecov-action@v1

  build_posix:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 9
      matrix:
        os: [ubuntu-latest, macos-latest]
        version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: set up python ${{ matrix.version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.version }}
      - name: get friendly (for nox) python version
        # not super friendly looking, but easy way to get major.minor version so we can easily exec only the specific
        # version we are targeting with nox, while still having versions like 3.9.0a4
        run: |
          echo "FRIENDLY_PYTHON_VERSION=$(python -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}')")" >> $GITHUB_ENV
      - name: install libxml2 and libxslt seems to only be needed for 3.9 image for some reason
        if: matrix.os == 'ubuntu-latest' && matrix.version == '3.9'
        run: |
          sudo apt install libxml2-dev
          sudo apt install libxslt-dev
      - name: setup test env
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools
          python -m pip install nox
      - name: run nox
        env:
          # needed to make the terminal a tty (i think? without this system ssh is super broken)
          TERM: xterm
        run: python -m nox -p $FRIENDLY_PYTHON_VERSION -k "not darglint"
