# This is for testing use only; allows tmate session to get spun up when I (owner/carl) star the repo
# Thanks to the following blogs/folks for the blog/idea of how to do this and the tmate action!
# https://dev.to/s_abderemane/manual-trigger-with-github-actions-279e
# https://github.com/marketplace/actions/debugging-with-tmate

name: Debug

on:
  watch:
    types: [started]

jobs:
  build_posix:
    runs-on: ubuntu-latest
    if: github.actor == github.event.repository.owner.login
    steps:
    - uses: actions/checkout@v2
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
