---
name: publish

on:
  release:
    types:
      - created

jobs:
  # publish to the og scrapli pypi project, using calver
  publish-legacy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: load env vars for workflow run
        run: |
          source .github/vars.env
          echo "PYTHON_VERSION=$PYTHON_VERSION" >> "$GITHUB_ENV"

      - name: set version information vars
        run: |
          RELEASE_TAG=${{ github.ref_name }}
          RELEASE_VERSION=${RELEASE_TAG#v}

          echo "RELEASE_VERSION=$RELEASE_VERSION" >> "$GITHUB_ENV"

          PRERELEASE=${RELEASE_VERSION#*[0-9].[0-9].[0-9]}
          if [[ "$PRERELEASE" == "$RELEASE_VERSION" ]]; then
            PRERELEASE=""
          fi

          CALVER=$(date +'%Y.%m.%d')

          if [[ -n "$PRERELEASE" ]]; then
            CALVER="$CALVER$PRERELEASE"
          fi

          echo "CALENDAR_VERSION=$CALVER" >> "$GITHUB_ENV"

      - name: validate twine/pypi token set
        run: |
          echo "${{ secrets.PYPI_SCRAPLI_TOKEN }}" | wc -c

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: setup publish env
        run: |
            python -m pip install --upgrade pip
            python -m pip install setuptools wheel build twine

      # when publishing to the og scrapli we obviously need the project to be called... *scrapli*
      # and the project name to be scrapli not scrapli2
      - name: set calver to primary version, rename scrapli2 -> scrapli
        run: |
          sed -i.bak -E 's/^(name = )"scrapli2"/\1"scrapli"/' pyproject.toml
          rm pyproject.toml.bak

          sed -i.bak -E "s|^(__version__ = ).*|\1\"${{ env.CALENDAR_VERSION }}\"|" scrapli/__init__.py
          sed -i.bak -E "s|^(__semver_version__ = ).*|\1\"${{ env.RELEASE_VERSION }}\"|" scrapli/__init__.py
          sed -i.bak -E "s|^(__calendar_version__ = ).*|\1\"${{ env.CALENDAR_VERSION }}\"|" scrapli/__init__.py
          rm scrapli/__init__.py.bak

      - name: package sdist
        run: |
          python -m build --sdist

      # because we are a "pure" python package build would only build a none-any wheel, buuuut in
      # reality we are not *really* "pure" python because we have the zig .so/.dylib bits -- but
      # we have no c extensions or anything so we still sorta act like pure python. so in order to
      # build all the wheels for our targets we just loop over the zig-triples and an env var in
      # setup.py figures out what to build/package as we sorta kinda lie to setuptools things :)
      # this (imo) is just way nicer than having to have a runner for every target using something
      # like cibuildwheels
      - name: package wheels
        run: |
          ./util/build_wheels.sh

      - name: publish to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_SCRAPLI_TOKEN }}
        run: |
          python -m twine upload --verbose dist/*

  # publish "scrapli2" is the new (using libscrapli) semver only release -- this is what the repo
  # looks like normally.
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: load env vars for workflow run
        run: |
          source .github/vars.env
          echo "PYTHON_VERSION=$PYTHON_VERSION" >> "$GITHUB_ENV"

      - name: set version information vars
        run: |
          RELEASE_TAG=${{ github.ref_name }}
          RELEASE_VERSION=${RELEASE_TAG#v}

          echo "RELEASE_VERSION=$RELEASE_VERSION" >> "$GITHUB_ENV"

          PRERELEASE=${RELEASE_VERSION#*[0-9].[0-9].[0-9]}
          if [[ "$PRERELEASE" == "$RELEASE_VERSION" ]]; then
            PRERELEASE=""
          fi

          CALVER=$(date +'%Y.%m.%d')

          if [[ -n "$PRERELEASE" ]]; then
            CALVER="$CALVER$PRERELEASE"
          fi

          echo "CALENDAR_VERSION=$CALVER" >> "$GITHUB_ENV"

      - name: validate twine/pypi token set
        run: |
          echo "${{ secrets.PYPI_SCRAPLI_TOKEN }}" | wc -c

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: setup publish env
        run: |
            python -m pip install --upgrade pip
            python -m pip install setuptools wheel build twine

      - name: set version information
        run: |
          sed -i.bak -E "s|^(__version__ = ).*|\1\"${{ env.RELEASE_VERSION }}\"|" scrapli/__init__.py
          sed -i.bak -E "s|^(__semver_version__ = ).*|\1\"${{ env.RELEASE_VERSION }}\"|" scrapli/__init__.py
          sed -i.bak -E "s|^(__calendar_version__ = ).*|\1\"${{ env.CALENDAR_VERSION }}\"|" scrapli/__init__.py
          rm scrapli/__init__.py.bak

      - name: package sdist
        run: |
          python -m build --sdist

      # because we are a "pure" python package build would only build a none-any wheel, buuuut in
      # reality we are not *really* "pure" python because we have the zig .so/.dylib bits -- but
      # we have no c extensions or anything so we still sorta act like pure python. so in order to
      # build all the wheels for our targets we just loop over the zig-triples and an env var in
      # setup.py figures out what to build/package as we sorta kinda lie to setuptools things :)
      # this (imo) is just way nicer than having to have a runner for every target using something
      # like cibuildwheels
      - name: package wheels
        run: |
          ./util/build_wheels.sh

      - name: publish to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_SCRAPLI_TOKEN }}
        run: |
          python -m twine upload --verbose dist/*
