name: Publish

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: setup publish env
        run: |
            python -m pip install --upgrade pip
            python -m pip install setuptools
            python -m pip install wheel
            python -m pip install twine
      - name: build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USER }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASS }}
        run: |
          python setup.py sdist bdist_wheel
          python -m twine upload dist/*
      - name: create release branch
        uses: peterjgrainger/action-create-branch@v2.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: ${{ github.event.release.tag_name }}