name: Publish

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: setup publish env
        run: |
            python -m pip install --upgrade pip
            python -m pip install setuptools wheel build twine
      - name: build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USER }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASS }}
        run: |
          python -m build
          python -m twine upload dist/*
      - name: create release branch
        uses: peterjgrainger/action-create-branch@v2.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: ${{ github.event.release.tag_name }}