---
name: test

on:
  workflow_call: {}
  workflow_dispatch:
    inputs:
      debug_unit:
        description: "start tmate before unit tests"
        type: boolean
        required: false
        default: false
      debug_functional:
        description: "start tmate before functional tests"
        type: boolean
        required: false
        default: false

jobs:
  unit:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 15
      matrix:
        version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        # we want to ensure we are doing the unit tests on all our main targets
        # this ensures all the ctypes magic works on all the platforms we can run in ci at least
        os: ["ubuntu-latest", "macos-latest", "ubuntu-24.04-arm"]

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: set up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version }}

      # dont bother with the genie stuff, dont care
      - name: install python dev tools
        run: |
          python -m pip install -r requirements-dev.txt
          python -m pip install -r requirements-textfsm.txt

      - name: install scrapli+libscrapli
        run: |
          python -m pip install .

      - name: setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_unit }}

      - name: unit tests
        run: |
          make test

  functional:
    runs-on: "ubuntu-latest"

    # run functional on main or prs pointing to main
    if: >
      (
        github.ref_name == 'main' ||
        github.base_ref == 'main'
      ) || (
        github.event_name == 'workflow_dispatch' &&
        inputs.debug_e2e
      )

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: load env vars for workflow run
        run: |
          source .github/vars.env
          echo "PYTHON_VERSION=$PYTHON_VERSION" >> "$GITHUB_ENV"

      - name: set up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: run scrapli-clab
        run: |
          make run-clab-ci

      - name: install python dev tools
        run: |
          python -m pip install -r requirements-dev.txt
          python -m pip install -r requirements-textfsm.txt

      - name: install scrapli+libscrapli
        run: |
          python -m pip install .

      - name: setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_e2e }}

      - name: wait for test nodes to be available
        working-directory: .clab
        run: |
          ./wait.sh
        # wait.sh should timeout but seems like it sometimes gets hung in actions sometimes
        timeout-minutes: 5

      - name: functional tests
        # skip the "enormous" output test as its super slow in gh runners
        run: |
          make test-functional-ci ARGS="--skip-slow"
